.question-container {
	width: 100%;
	display: inline-block;
}

.rounded-box {
	border-radius: 20px;
	margin-bottom: 5rem;
}

.roundedcustom {
	border-radius: 10px;
}

.right {
	float: right;
	margin-right: 10px;
}

.custom-width {
	width: 6rem;
}
.custom-button {
	display: flex;
	height: 25px;
	padding: 0 10px 15px 10px;
	padding-top: 1px;
	padding-right: 12px;
	font-size: 15px;
	margin-right: 10px;
}

@media (max-width: 600px) {
	.res {
		width: 100% !important;
	}
}

@media (max-width: 1000px) {
	.res {
		width: 100% !important;
	}
}
