.question-container {
	width: 100%;
	display: inline-block;
}

.rounded-box {
	border-radius: 20px;
	margin-bottom: 5rem;
}

.roundedcustom {
	border-radius: 10px;
}

.right {
	float: right;
	margin-right: 10px;
}

.custom-width {
	width: 6rem;
}
