.glass-users {
	/* From https://css.glass */
	color: white;
	background: rgba(255, 255, 255, 0.17);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.1px);
	-webkit-backdrop-filter: blur(8.1px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.active-user-img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-text-glass {
	color: white;
	border: none;
	background: rgb(11, 86, 106);
	padding: 1rem;
	border-radius: 1rem;
	background: linear-gradient(
		90deg,
		rgba(11, 86, 106, 0.4) 0%,
		rgba(20, 19, 115, 0.4) 65%,
		rgba(93, 13, 86, 0.4) 100%
	);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.width {
	width: 20rem;
}
