.glass-form-control {
	display: inline-block;
	width: 100%;
	color: white;
	padding: 1rem;
	border-radius: 20px;
	/* From https://css.glass */
	background: rgba(225, 198, 255, 0.21);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	-webkit-backdrop-filter: blur(12.7px);
	border: 1px solid rgba(225, 198, 255, 0.3);
	outline: none;
}
.btn-glass {
	padding: 1rem;
	outline: none;
	border: none;
	font-size: 2rem;
	padding: 1.5rem;
	display: inline-block;
	margin-right: 1rem;

	padding: 15px;
	border: 0;
	text-decoration: none;
	margin-left: 1rem;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(30px);
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s ease-in-out;
}
.btn-glass:hover {
	transition: 0.5s ease-in-out;
	box-shadow: 
		/* inner left magenta short */ inset -10px 0 10px rgba(0, 255, 255, 0.3),
		/* outer white */ -10px 0 20px rgba(255, 0, 255, 0.3),
		/* outer left magenta */ 10px 0 20px rgba(0, 255, 255, 0.3); /* outer right cyan */
}

::placeholder {
	color: white;
}

input:focus {
}

.glass-form-control:focus {
	border: none;
}
