.noborder {
	border: none;
	border-radius: 0;
}
.no-brand {
	margin-right: auto;
	min-height: 1.9em;
}

.nav-backg {
	/* From https://css.glass */
	background: rgba(155, 195, 233, 0.35);
	border-radius: 0 0 16px 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.4px);
	-webkit-backdrop-filter: blur(7.4px);
	border: 1px solid rgba(155, 195, 233, 0.25);
	text-decoration: none;
}
